body {
	font-family: 'Fascinate Inline';
	background-image: url("../images/1920s.jpg");
	background-size:cover;
	color: white;
	
}

#div1 {
	padding-top:180px;
	font-size: 70px;
	text-align: center;
	float: center
	box-sizing: border-box;

}

#timer {
	color:white;
	padding-top: 20px;
	float: center;
	text-align: center;
	font-size: 100px;
}

#start-button {
	postion: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100px;
	border: 3px solid #white;
	float: center;
	background-color: black;
	position: relative;
	font-size: 50px;
}

#quiz {
	color: white;
	display: block;
	margin-top: 15px
	font-size: 20px;
	

}

#done-button{
	postion: absolute;
	top: 80px;
	right: 0;
	width: 200px;
	height: 100px;
	border: 3px solid #white;
	float: bottom;
	background-color: black;
	color: white;
	position: relative;
	font-size: 50px;
	
}

#results{
	font-size:20px;
}